<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }

    iframe{
        width: 500px;
        height: 400px;
    }

</style>
</head>


<body>
    <h1>Covid Stats</h1>

    <form method="POST">
        <label>Enter a Country Name</label>
        <br>
        <br>
        <input type="text" placeholder="Country Name" name="text">
        <input type="submit">
    </form>

    <iframe src="{{ source }}"></iframe>

    <p>You have {{ count }} visitors</p>

</body>
</html>
